<header class="h1 text-center">Meteo et informations générales</header>
<app-formulaire></app-formulaire>




<div class="container text-center mt-3">
    <div class="row">
        <div class="col border rounded bg-secondary m-4">
            <app-localisation></app-localisation>
        </div>
        <div class="col border rounded bg-secondary m-4">
            <app-meteo></app-meteo>
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto">
            <app-carte></app-carte>
        </div>
    </div>
</div>
<br><br><br><br><br>
<footer class="text-body-secondary py-2 bg-secondary">
    <div class="container">
        <p class="float-end">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">AFPA example is &copy; Roubaix</p>
        <p class="mb-0">Plus d'infos <a href="https://www.afpa.fr/">Visitez la page</a>.</p>
    </div>
</footer>